{%extends 'layout.html.twig'%}

{%block body%}
<table class="table table-secondary">
    <thead>
    <tr>
        <th scope="col">Todos</th>
    </tr>
    </thead>
    <tbody>
        {%for key,value in app.session.get('todos')%}
    <tr>
        <td>{{key}} : {{value}}</td>
    </tr>
        {%endfor%}

    </tbody>
</table>
{%endblock%}
